.html#body {
    background-color: #f9f3ef;
}


#buttoncontainer {
    position: absolute;
    top: 100px;
    left: 50px;
    ;
    display: flex;
    height: 900px;
    flex-direction: column;
}

#myBtn,
#myBtn1,
#myBtn2 {
    width: 320px;
    height: 95px;
    margin-left: 50px;
    margin-bottom: 250px;

    display: inline;
    outline: 0;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.9s;
}

:hover {
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
}

#buttoncontainer2 {
    position: absolute;
    top: 100px;
    left: 1340px;
    display: flex;
    width: 600px;
    flex-direction: column;
}

#myBtn3,
#myBtn4,
#myBtn5 {
    width: 320px;
    height: 95px;
    margin-left: 50px;
    margin-bottom: 250px;

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.9s;
}

:hover {
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
}



#subcont1 {
    display: flex;
    height: 600px;
    flex-direction: column;

}

/* KITTY IMG */
#onfire {
    width: 1224px;
    /* Or whatever */
    height: 1270px;
    /* Or whatever */
    position: absolute;
    top: -65px;
    left: 145px;
    border: 10px color: #000000;

}

;

/* #hairy {
    width: 1054px;
    height: 1240px;
    position: absolute;
    bottom: -75px;
    left: 320px;
    /* border: px color: #000000; */

/* } */

/* #subcont2 {
    position: absolute;
    top: 50px;
    left: 325px;
    display: flex;
    height: 800px;
    flex-direction: column;

} */



/* GIRL IMG #smooosh {
    position: absolute;
    left: 1115px;
    top: 525px;
    z-index: 1;
} */

/* KITTY TEXT */
/* #cute-text {
    font-size: 40px;
    padding: 10px 20px;
    color: #665aea;
    position: absolute;
    left: 1085px;
    top: 370px;
} */

/* UNICORN IMG */
/* #uni {

    width: 78px;
    height: 130px;
} */

/* #dfloor {
    font-size: 40px;
    position: absolute;
    width: 500px;
    height: 372.917px;
    left: 500px;
    top: 550px;
    opacity: 1;
    margin-bottom: 0 auto;

} */

/* div {
    color: rgb(173, 198, 198);
} */

/* api search
#apisearch {
    font-size: 20px;
    position: absolute;
    font-align: center;
    color: coral;
    left: 1100px;
    top: 50px;
    width: 100%;
    height: 100%;
    margin: o auto;

} */

/* #fieldset {
    width: 450px;
} */

/* #result {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
} */



/* #box {
    background-color: palegreen;
    width: 100px;
    height: 150px;
}

#hidden {
    display: none;
    background-color: violet;
    color: white;
} */

/* #iterate {
    top: 400px;
    left: 800px;
    color: white;
    position: absolute;
    background-color: rgb(162, 162, 243);
    font-size: 35px;
}